@font-face {
    font-family: 'UbiFont';
    src: url('../fonts/7c574ea662392ab39c09ed79280cf5b2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

svg{
    fill:white
}

body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Download{
    margin-left: 12vw;
}

.Dload{
    display: flex;
    color: white;
    text-decoration: none;
    font-family: Ubisoft, sans-serif;
    line-height: 1.25em;
    height: 50px;
    align-items: center;
}

.download-icon{
    margin-left: 5px;
}

.Header{
    background-color: black;
    color: white;
    width : 100%;
    height : 3rem;

}

.mainHead{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    height: 100%;
}

.UbiConnect{
   align-self: center;
}

.icon-ubisoft-logo-desktop{
    
    height: 2em;
    width: fit-content;
    
}

.popupMenu{
    display: inline-flex;
    margin-left: 60px;
    width : 35vw;
    letter-spacing: 1px;
}


.menu_container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    
}

.menu_drawer{
    flex: 1;
    text-align: center;
    padding: 0.9em ;
    cursor: pointer;
}

.menu_drawer:hover{
    background-color: white;
    color: black;
}

.UserTools{
    display: flex;
    margin-left: 8vw;
}

.notif{
    width: 45px;
    display: flex;
    align-items: center;
}

.pfp{
    margin-left: 25px;
    display: flex;
    align-items: center;
    
}

.circle{
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.circle img{
    height   : 2rem;
}

@font-face {
    font-family: "Ubisoft";
    src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot");
    src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.svg#Ubisoft Sans Bold")format("svg");
}

.r6presentation{
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.imageFond{
    
    background-image: url("../img/back.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 110vh; 
    position: relative;
    overflow: hidden;
}

.imageFond::before, .videoBackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, transparent 10%, rgba(1, 0, 19, 0.7));
    
    pointer-events: none;
}


.imageFond::before{
    box-shadow: inset 0px -20px 20px 14px rgba(0, 0, 10, 0.893);
}

.videoBackground::before{
    box-shadow: inset 0px 20px 20px 14px rgba(0, 0, 10, 0.893);
}




.imageText img{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
    z-index: 1;
    

}

.subtitleMain{
    color: #00ffe5;
    font-family: UbiFont, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #151d30, 0 0 2px #151d30, 0 0 2px #151d30;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*
.operatorImage{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
    z-index: 1;
}
*/

.Page_Container{
    position: relative;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.operatorImage{
    background-color: rgba(208, 203, 201, 0.3);

}


.imageContainer {
    width: 300px;
    height: 500px;
    padding: 0;
    margin: 0;
    display: block;
    line-height: 0; /* Removes any extra line-height space */
}

.imageContainer img {
    width: 100%;
    height: 100%;
    display: block; /* Removes bottom spacing */
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 50px); 
    grid-template-rows: repeat(3, 166px); 
    width: 300px;
    height: 500px;
    background: linear-gradient(to top, rgba(36, 153, 255, 0.4), rgba(36, 153, 255, 0) 80%);
  }
  
  .square {
    width: 50px;
    height: 166px;
    background-size: 300px 500px;
    background-repeat: no-repeat;
  }


.hiddenWordContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: UbiFont, sans-serif;
    font-size: 40px;
}

.Hword{
    background-color:#c3c3c3;
    width: 100%;
    text-align: center;
    color: black;
    padding-bottom: 5px;
}

.block {
    width: 100%;
}

.InputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Saisie{
    margin-top: 25px;
    display: flex;
    align-items: baseline;
}



.PressButton {
    margin-top: 25px;
    height: 43px;
    width: 250px; /* Adjusted for better readability */
    background-color: #2499ff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease-in-out;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PressButton:focus,
.PressButton:active {
    outline: none;
}

.PressButton:hover {
    transform: scale(1.05);
}

.PressButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 80%);
    transition: height 0.4s ease-in-out;
    z-index: 1;
}

.PressButton:hover span {
    transform: scale(1.33);
    transition: transform 0.3s ease;
}

.PressButton:hover::before {
    height: 100%;
}

.PressButton span {
    z-index: 2;
    transition: transform 0.3s ease;
    display: inline-block;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically in the center */
}



.InputButton{
    margin-top: 25px;
    width: 200px; 
    height: 40px; 
    font-family: UbiFont, sans-serif; 
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 40px;
    background-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.floating-label{
    color: #333;
    font-size: smaller;
    position: absolute;
    left: 30%;
    top: 17%;
    pointer-events: none;
    transition: all 0.3s ease;

}

.InputButton:focus + label{
    top: 16%; /* Moves label up */
    left: 11%;
    font-size: 18px; /* Optional: reduces the font size */
    transition: all 0.3s ease;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translate(170%, 50%);
    height: 350px;
    width: 100px;
    
}


.bullet {
    position: absolute;
    width: 100px; /* Adjust the width of each bullet */
    height: 100px; /* Adjust the height of each bullet */
    transform: rotate(90deg);
}
  
  .bullet:nth-child(1) {
    top: 0;
  }
  
  .bullet:nth-child(2) {
    top: 50px; /* Adjust the space between bullets */
  }
  
  .bullet:nth-child(3) {
    top: 100px;
  }
  
  .bullet:nth-child(4) {
    top: 150px;
  }
  
  .bullet:nth-child(5) {
    top: 200px;
  }
  
  .bullet:nth-child(6) {
    top: 250px;
  }
  

.aTag{
    display: block;
    text-decoration: none;  /* Remove underline */
    color: inherit;         /* Inherit the color from the parent element */
    background: none;       /* Remove any background */
    border: none;           /* Remove any borders */
    padding: 0;             /* Remove any padding */
    margin: 0;              /* Remove any margin */
    width: 100%;
    height: 100%;
}

.outComeMessage {
    background-color: grey;
    color: #e6b800;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(450%, -500%);
    width: 165px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-right: #e6b800 2px solid;
    z-index: 1;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Classe pour l'animation */
.outComeMessage.show {
    transform: translate(250%, -500%);
    opacity: 1;
}

.theMessage {
    padding-right: 5px;
    font-size: smaller;
}


.EndWindow{
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}


.EndBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #1a1a1f;
    border: 3px solid #ffaa00;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    width: 800px;
    height: 600px;
}

.EndWindow-content {
    flex: 100%;
    color: #ffaa00;
    margin-bottom: 30px;

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.popup-btn {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    background-color: #ffaa00;
    border: none;
    color: #1a1a1f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-btn:hover {
    background-color: #ffcc00;
}