@font-face {
    font-family: 'UbiFont';
    src: url('../fonts/7c574ea662392ab39c09ed79280cf5b2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

svg{
    fill:white
}

body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Download{
    margin-left: 12vw;
}

.Dload{
    display: flex;
    color: white;
    text-decoration: none;
    font-family: Ubisoft, sans-serif;
    line-height: 1.25em;
    height: 50px;
    align-items: center;
}

.download-icon{
    margin-left: 5px;
}

.Header{
    background-color: black;
    color: white;
    width : 100%;
    height : 3rem;

}

.mainHead{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    height: 100%;
}

.UbiConnect{
   align-self: center;
}

.icon-ubisoft-logo-desktop{
    
    height: 2em;
    width: fit-content;
    
}

.popupMenu{
    display: inline-flex;
    margin-left: 60px;
    width : 35vw;
    letter-spacing: 1px;
}


.menu_container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    
}

.menu_drawer{
    flex: 1;
    text-align: center;
    padding: 0.9em ;
    cursor: pointer;
}

.menu_drawer:hover{
    background-color: white;
    color: black;
}

.UserTools{
    display: flex;
    margin-left: 8vw;
}

.notif{
    width: 45px;
    display: flex;
    align-items: center;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    display: inline-block; 
}

.pfp{
    opacity: 1;
    margin-left: 25px;
    display: flex;
    align-items: center;
    
}

.pfp:hover {
    cursor: pointer;
}




.popup {
    display: none;
    position: absolute;
    top: 5vh;
    left: 75vw;
    width: 250px;
    height: 350px;
    padding: 20px;
    background-color: #080808;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.form-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.tab-button {
    background: none;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #007bff;
    color: white;
}



.popup-content {
    display: none;
    font-size: 16px;
}

.form-content.active {
    display: block;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
  
.login-form,button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.pfp{
    background:none;
}



/* Overlay to detect clicks outside the popup */

.circle{
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.circle img{
    height   : 2rem;
}

@font-face {
    font-family: "Ubisoft";
    src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot");
    src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.svg#Ubisoft Sans Bold")format("svg");
}

.r6presentation{
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.imageFond{
    
    background-image: url("../img/back.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 200vh; 
    position: relative;
    overflow: hidden;
}

.imageFond::before, .videoBackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, transparent 10%, rgba(1, 0, 19, 0.7));
    
    pointer-events: none;
}


.imageFond::before{
    box-shadow: inset 0px -20px 20px 14px rgba(0, 0, 10, 0.893);
}

.videoBackground::before{
    box-shadow: inset 0px 20px 20px 14px rgba(0, 0, 10, 0.893);
}




.imageText img{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
    z-index: 1;
    

}

.subtitleMain{
    color: #00ffe5;
    font-family: UbiFont, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #151d30, 0 0 2px #151d30, 0 0 2px #151d30;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.videoBackground {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoBackground video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}

h2 {
    color: #ddd;
    font-family: UbiFont, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 70px;
    text-transform: uppercase;
    z-index: 1;
    
}

.miniHead{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    
}

.game_container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.desc{
    color: #222222;
    letter-spacing: 1px;
    font-family: UbiFont, sans-serif;
    background-color: #a7abb8;
    opacity: 0.7;
    padding: 25px;
    font-size: 20px;
}

.form{
    background-image: url("../img/Y9S3_Mid-SeasonRoadmap_960x540.avif");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 40rem;
    padding: 25px;
}

.rules{
    font-size: 40px;
    line-height: 33px;
    font-weight: 400;
    text-transform: uppercase;
    
}

.list{
    padding-top: 40px;
    padding-bottom: 50px;
}

.bottom{
    padding-bottom: 70px;
}



.container {
    margin-top: 10%;
    display: flex;
    flex-direction:row;
    gap: 40px;
    justify-content: center;
}

.box {
    width: 375px;
    height: 700px;
    background-color: #7a9efa;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(200px);
    cursor: pointer;
    transition: opacity 1s ease-out,  transform 1s ease-out, box-shadow 0.3s ease-out;
}




.box.show {
    opacity: 1;
    transform: translateY(0);
    
}


.box:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

.box::after {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(36, 153, 255, 0.4), rgba(36, 153, 255, 0) 80%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box:hover::after {
    opacity: 1; /* Show the light blue line on hover */
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: scrollImages 20s linear infinite;
}

.scrolling-image {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes scrollImages {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2050px);
    }
}

.ScrollTitle{
    font-family: UbiFont, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
    background-color: #7a9efa;
    padding: 5px;
    border-radius: 7px;
}

.Dumbahhhbutton{
    all: unset; /* Remove all default button styles */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    display: inline-block; /* Keep it inline but can control width/height */
    padding: 10px 20px; /* Add some padding if desired */
    font-family: inherit; /* Ensure font matches the surrounding text */
    text-align: center; /* Center text */
    border: none; /* Remove border */
}











@media (max-width: 1200px) {
    .Download {
        margin-left: 10vw;
    }
}

@media (max-width: 992px) {
    .Download {
        margin-left: 8vw;
    }
}

@media (max-width: 768px) {
    .Download {
        margin-left: 5vw;
    }

    .Dload {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 0.9em;
    }

    .Download {
        margin-left: 3vw;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Full black background */
    z-index: 1000; /* Make sure it covers the whole screen */
    display: flex;
    justify-content: center;
    align-items: center;
}


.InputButton{
    margin-top: 25px;
    width: 200px; 
    height: 40px; 
    font-family: UbiFont, sans-serif; 
    font-size: 30px;
    letter-spacing: 1px;
    padding-left: 40px;
    background-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.Password{
    margin-top: 30px;
}

.PressButton {
    margin-top: 25px;
    height: 43px;
    width: 250px; /* Adjusted for better readability */
    background-color: #2499ff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease-in-out;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PressButton:focus,
.PressButton:active {
    outline: none;
}

.PressButton:hover {
    transform: scale(1.05);
}

.PressButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 80%);
    transition: height 0.4s ease-in-out;
    z-index: 1;
}

.PressButton:hover span {
    transform: scale(1.33);
    transition: transform 0.3s ease;
}

.PressButton:hover::before {
    height: 100%;
}

.PressButton span {
    z-index: 2;
    transition: transform 0.3s ease;
    display: inline-block;
}


.outComeMessage {
    background-color: grey;
    color: #e6b800;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(325%, -1100%);
    width: 165px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-right: #e6b800 2px solid;
    z-index: 3;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Classe pour l'animation */
.outComeMessage.show {
    transform: translate(275%, -1100%);
    opacity: 1;
}

.theMessage {
    padding-right: 5px;
    font-size: smaller;
}