{{define "Hangman"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/maingame.css">
</head>
<body>
    
    {{.Display}}
    

    <form action="/hangman/treatment">
        <label for="mot">Votre mot</label>
        <input type="text" name="mot" id ="mot" title="uniquement composé de lettres, avec une taille entre 1 et 32 caractères" required>
        <button type="submit">Valider</button>
    </form>
</body>
</html>
{{end}}